*{
    margin: 0;
    padding: 0;
  }
  
  /* special tag  */
  a{
    text-decoration: none;
  }

  /* scrollbar  */
  ::-webkit-scrollbar{
    width: 0;
  }
  
  #scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
  }
  
  #progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 30px;
    background: linear-gradient(to top, #008aff, #00ffee);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0%, 100%{
       filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
     }
  }
  
  #progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffee);
    filter: blur(10px);
  }
  
  #progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffee);
    filter: blur(30px);
  }

  #navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 10;
  }
  
  #navbar::before{
    content: '';
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -3;
    opacity: 0.5;
  
  }
  
  #navbar ul{
    display: flex;
    margin-bottom: 0;
  }
  
  #navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
  
  }
  
  #navbar ul li a{
    color: white;
    padding: 0 22px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    font-weight: 333;
    transition: 0.7s;  
  
  }
  
  #navbar ul li a:hover{
    text-align: center;
    color: #ffb36b;
  } 
  
  #navbar ul .active{
    color: #ffb36b;
  }
  /* logo */
  
  #logo{
    margin: -1px 9px;
    transition: 0.4s;
  }
  
  #logo:hover{
    transform: translateY(3px);
  }
  
  #logo img{
    margin: -10px 129px;
    height: 77px;
  }
/* back to top  */

back-to-top{
  position: sticky;
  bottom: 25px;
  right: 25px;
  float: right;
  transition: 0.4s;
  width: 25px;
  height: 25px;
  z-index: 33;
}

back-to-top img{
  width: 30px;
  height: 30px;
  margin: -1px;
  transition: 0.4s;
}

back-to-top img:hover{
  transform: translateY(-5px);
}  

.btn-outline-danger{
  font-weight: 500;
}