*{
  margin: 0;
  padding: 0;
}

/* html{
  background: linear-gradient(-100deg,#42abff, #ff4f8b ,#ffeb3b) no-repeat center center/cover;
  min-height: 100vh;
  min-width: 100vh;
} */

/* OR */

html{
  background: url("../img/bg.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%
} 


/* navigation bar */

#navbar{
  display: flex;
  align-items: center;
  position: relative;
}

#navbar::before{
  content: '';
  background: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;
  opacity: 0.5;

}

#navbar ul{
  display: flex;
}

#navbar ul li{
  color: white;
  list-style: none;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#navbar ul li a{
  color: white;
  padding: 3px 22px;
  border-radius: 20px;
  display: block;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#navbar ul li a:hover{
  color: rgb(255, 208, 0);
  transform: translateY(-3px);
  border: 1px solid white;
  transition: 0.3s;
} 

/* logo */

#logo{
  margin: -1px 9px;
}

#logo img{
  margin: -10px 129px;
  height: 77px;
}


/* Hero Section */

#hero{
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height: 449px;
}



.h1-hero{
  font-size: 3.5rem;
  padding: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#hero h1{
  color: white;
  text-align: center;
}
#hero p{
  text-align: center; 
  color: white;
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn{
  padding: 10px 23px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  margin: 25px;
  font-size: 1rem;
  border-radius: 9px;
  cursor: pointer;

}
.button{
  display: flex;
  /* flex-wrap: wrap; */
}
.btn a{
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn:hover{
  transition: 0.3s;
  transform: translateY(-4px);
}
