*{
    margin: 0;
    padding: 0;
  }
  /* navigation bar */
  
  #navbar{
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #navbar::before{
    content: '';
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.5;
  
  }
  
  #navbar ul{
    display: flex;
  }
  
  #navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
  }
  
  #navbar ul li a{
    color: white;
    padding: 22px 22px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
  
  }
  
  #navbar ul li a:hover{
    color: rgb(191, 255, 223);
    transform: translateY(-5px);
  } 
  
  /* logo */
  
  #logo{
    margin: -1px 9px;
  }
  
  #logo img{
    margin: -10px 129px;
    height: 77px;
  }
  
  