
*{
 margin: 0;
 padding: 0;
}

html{
  background: #eaeef0;
}


#navbar{
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #navbar::before{
    content: '';
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.5;
  
  }
  
  #navbar ul{
    display: flex;
  }
  
  #navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  #navbar ul li a{
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  #navbar ul li a:hover{
    color: rgb(255, 208, 0);
    transform: translateY(-3px);
    border: 1px solid white;
    transition: 0.3s;
  }
  
  /* logo */
  
  #logo{
    margin: -1px 9px;
  }
  
  #logo img{
    margin: -10px 129px;
    height: 77px;
  }


.box{
  display: flex;
  
  border: 2px solid black;
}
  